body {
  margin: 0;
  padding: 0;
  font-family: arial;
  background-color: rgb(220, 243, 250);
}

.header {
  padding: 1.4rem;
  background-color: rgb(4, 40, 51);
}

.main-heading {
  text-align: center;
  color: #edf5fa;
}

.center {
  margin: 0 auto;
}

.add-fresh-issue {
  text-align: center;
  margin-top: 4rem;
}

.add-one-here {
  border-bottom: 1px solid black;
  font-weight: bold;
  cursor: pointer;
}

.add-one-here:hover {
  color: red;
  border-color: red;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  overflow: auto;
  display: none;
}

.form {
  margin: 0 auto;
  margin-top: 8.7rem;
  margin-bottom: 2rem;
  text-align: center;
  border: 1px solid black;
  border-radius: 12px;
  width: 650px;
  max-width: 80%;
  padding: 1rem;
  /* display: none; */
  background-color: white;
  /*left: 50%;
  transform: translate(-50%, -50%); */
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.5);
  animation-name: modalOpen;
  animation-duration: 1s;
}

.form h2 {
  margin-bottom: 2.5rem;
  /* margin-top: -1.8rem; */
}

.form-section {
  margin-top: 1rem;
  margin-bottom: 1.3rem;
  display: grid;
  /* justify-content: center; */
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 1.5rem;
}

.form-section textarea {
  width: 90%;
  font-family: arial;
  border-radius: 4px;
  font-size: 1rem;
}

.form-section textarea[id="issue-title"] {
  height: 50px;
}

.form-section textarea[id="description"] {
  height: 100px;
}

.form-section textarea[id="recommendation"] {
  height: 100px;
}

.form-section label {
  text-align: right;
  font-size: 18px;
}

.form-submit {
  padding: 0.5rem;
  cursor: pointer;
  background-color: rgb(4, 40, 51);
  border: 0;
  color: white;
}

.form-submit:hover {
  background-color: #000;
}

.close-button {
  display: inline-block;
  /* margin: 0 2rem 0 auto; */
  float: right;
  margin-top: 1rem;
  cursor: pointer;
  background-color: red;
  outline: none;
  border: 0;
  padding: 0.1rem 0.6rem;
  font-weight: bold;
  font-size: 1.6rem;
}

.close-button:hover {
  background-color: rgba(255, 0, 0, 0.8);
}

.issue-lists {
  /* margin: 0;
  padding: 0; */
  margin-top: 4rem;
  max-width: 80%;
  width: 900px;
  list-style: none;
}

.issue-count {
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid rgb(150, 148, 148);
  padding: 1rem;
  padding-left: 1.5rem;
  background-color: rgb(188, 234, 248);
  display: none;
}

.new-issue {
  border: 1px solid rgb(150, 148, 148);
  border-top: 0;
  padding: 0.4rem;
  padding-left: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-issue-button {
  float: right;
  margin-right: 3rem;
  display: none;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 0.7rem 1rem;
  background: green;
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  outline: 0;
  cursor: pointer;
}

.new-issue-button:hover {
  background: rgb(0, 109, 0);
}

.close-btn, 
.delete-btn {
  padding: 0 0.5rem !important;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  float: right;
  height: 2rem;
}

.delete-btn {
  background: red;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.delete-btn:hover {
  background: rgb(124, 2, 2);
}

.close-btn {
  margin-left: auto;
  margin-right: 0;
  background: rgb(255, 174, 0);
}

.close-btn:hover {
  background: rgb(209, 171, 4);
}

.issue-content {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.issue-content-inner {
  margin: 0 auto;
  margin-top: 8.7rem;
  margin-bottom: 2rem;
  border: 1px solid black;
  border-radius: 12px;
  width: 750px;
  height: 70vh;
  max-width: 80%;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
  0 10px 30px 0 rgba(0, 0, 0, 0.5);
  animation-name: modalOpen;
  animation-duration: 1s;
}

.issue-header:hover {
  text-decoration: underline;
}

.issue-content-inner h1 {
  text-align: center;
  margin-top: 1rem;
  border-bottom: 1px solid #333;
}



/* For modal animation */
@keyframes modalOpen {
  from{ opacity: 0 }
  to{ opacity: 1 }
}
